
.header {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(209, 23%, 22%);
  z-index: 11;
}
.container {
  /* width: 1140px; */
  padding: 0px 15px;
  align-items: center;
  /* margin: auto !important; */
}

.header h5 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}
.navbar-right{
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    /* cursor: pointer; */
}

.navbar-profile{
    display: flex;
    position: relative;
    align-items: center;
    gap: 6px;
    color: #fff;
    /* cursor: pointer; */
    /* padding-right: 110px; */
}
/* .navbar-profile a{
  text-decoration: none;
} */
.navbar-profile .dropdown{
    position: absolute;
    top: 80%;
    right: 10px;
    width: max-content;
    max-height: 60px;
    background: whitesmoke;
    color: #000;
    padding: 0px 22px;
    border-radius: 10px;
    text-decoration: underline;
    z-index: 1;
    display: none;
    
}
.navbar-profile .dropdown p{
    font-size: 13px;
    cursor: pointer;

}
.navbar-profile:hover .dropdown{
    display: block;
}
