.App {
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: "Lora", serif; */
}

.country__list {
  width: 1140px;
  margin: auto !important;

}

.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* .all__country__wrapper {
  margin-top: 100px;
  
} */

.country__bottom h4 {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

/* input {
  padding: 10px 25px;
  color: #fff;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: pointer;
} */

/* ::placeholder {
  color: #fff;
} */

.country__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

/* select {
  padding: 10px 25px;
  background: hsl(209, 23%, 22%);
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
} */

.country__info__wrapper {
  margin-top: 120px;
  color: #fff;
}

.country__info__container {
  display: flex;
  column-gap: 1rem;
}

.country__info-img,
.country__info {
  width: 50%;
}

button {
  padding: 10px 25px;
  color: #000;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.country__info h3 {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.country__info-left h5 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.country__info-left h5 span {
  color: #fff;
  opacity: 85%;
  font-weight: 400;
}

.all__country__wrapper {
  margin-top: 100px;
  /* color: #fff; */
}
.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}
.country__bottom h4 {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}